<a href="https://colab.research.google.com/github/Flavio13Lins/ANALISE-TISS-HOSPITALAR-2019/blob/main/Analise_TISS_HOSPITALAR_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [52]:
# Using only PE_201901_HOSP_CONS and PE_201901_HOSP_DET as an example to what
# could be done to merge both data. After that it's possible to merge by mounths
# and then merge all states.
df_cons = pd.read_csv("PE_201901_HOSP_CONS.csv", sep=";", encoding='utf-8')
df_det = pd.read_csv("PE_201901_HOSP_DET.zip", sep=";", encoding='utf-8')

print('Setup Complete')

Setup Complete

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [53]:
df_cons.head()

   ID_EVENTO_ATENCAO_SAUDE  ...  LG_VALOR_PREESTABELECIDO
0               2265421074  ...                         0
1               2384753614  ...                         0
2               2265421511  ...                         0
3               2440204236  ...                         0
4               2440204101  ...                         0

[5 rows x 24 columns]

In [54]:
df_det.head()

   ID_EVENTO_ATENCAO_SAUDE UF_PRESTADOR  ...  IND_PACOTE IND_TABELA_PROPRIA
0               3447630435           PE  ...           0                  0
1               3447630435           PE  ...           1                  0
2               3447630438           PE  ...           0                  0
3               3447630438           PE  ...           1                  0
4               3447630438           PE  ...           0                  0

[5 rows x 11 columns]

In [56]:
df_cons['SEXO'].replace(['Masculino','Feminino'],range(2),inplace=True)

In [57]:
states = ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC', 'SE', 'SP']
n = len(states)
map_states = range(n)
df_cons['UF_PRESTADOR'].replace(states,map_states,inplace=True)

In [ ]:
# repeat process to 'object' columns

In [58]:
df_cons.dtypes

ID_EVENTO_ATENCAO_SAUDE        int64
ID_PLANO                       int64
FAIXA_ETARIA                  object
SEXO                         float64
CD_MUNICIPIO_BENEFICIARIO    float64
PORTE                         object
CD_MODALIDADE                  int64
NM_MODALIDADE                 object
CD_MUNICIPIO_PRESTADOR       float64
UF_PRESTADOR                   int64
TEMPO_DE_PERMANENCIA           int64
ANO_MES_EVENTO                object
CD_CARATER_ATENDIMENTO       float64
CD_TIPO_INTERNACAO           float64
CD_REGIME_INTERNACAO         float64
CD_MOTIVO_SAIDA              float64
CID_1                         object
CID_2                         object
CID_3                         object
CID_4                         object
QT_DIARIA_ACOMPANHANTE         int64
QT_DIARIA_UTI                  int64
IND_ACIDENTE_DOENCA          float64
LG_VALOR_PREESTABELECIDO       int64
dtype: object

In [ ]:
# mix both PE_201901_HOSP_CONS and PE_201901_HOSP_DET by takin ID_EVENTO_ATENCAO_SAUDE
# from df_cons and inserting the columns data in df_det for each data related